#!/usr/bin/env bash
set -x

{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "
    linux") -}}

# https://sdkman.io/
curl -s "https://get.sdkman.io" | bash

source "$HOME/.sdkman/bin/sdkman-init.sh"

sdk install java
sdk install maven
sdk install gradle

{{ end -}}
