#!/usr/bin/env bash
set -x

{{ if and (eq .osid "linux-ubuntu") (not (.chezmoi.kernel.osrelease | lower | contains "microsoft")) (not .codespaces) -}}

# docker
# https://docs.docker.com/engine/install/ubuntu/
# Other Install in no root mode https://docs.docker.com/engine/security/rootless/

# Uninstall old versions
for pkg in docker.io docker-doc docker-compose docker-compose-v2 podman-docker containerd runc; do sudo apt-get remove $pkg; done

# https://docs.docker.com/engine/install/ubuntu/#install-using-the-convenience-script
curl -fsSL https://get.docker.com -o get-docker.sh
sudo sh ./get-docker.sh

# use docker for no-root user
# https://docs.docker.com/engine/install/linux-postinstall/#manage-docker-as-a-non-root-user
if ! grep -q docker /etc/group ; then
  # sudo groupadd docker
  sudo usermod -aG docker $USER
  newgrp docker
fi

{{ end -}}
