#!/usr/bin/env bash
set -x

{{ if (eq .chezmoi.os "darwin") -}}
# Installing brew https://brew.sh/
if ! command -v brew &> /dev/null; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

  echo >> $HOME/.zprofile
  echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> $HOME/.zprofile

fi
{{ else if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "ubuntu" }}
sudo apt-get update -y

sudo apt-get install \
    curl \
    wget \
    gpg \
    sudo \
    ca-certificates \
    gnupg \
    gcc \
    make \
    zip \
    unzip \
    git \
    neovim \
    fzf \
    zsh -y

# mise
sudo install -dm 755 /etc/apt/keyrings
wget -qO - https://mise.jdx.dev/gpg-key.pub | gpg --dearmor | sudo tee /etc/apt/keyrings/mise-archive-keyring.gpg 1> /dev/null
echo "deb [signed-by=/etc/apt/keyrings/mise-archive-keyring.gpg arch=amd64] https://mise.jdx.dev/deb stable main" | sudo tee /etc/apt/sources.list.d/mise.list
sudo apt update
sudo apt install -y mise

# switch zsh
# chsh -s $(which zsh)

{{   else if eq .chezmoi.osRelease.id "arch" }}
{{   end }}
{{ end }}
