#!/usr/bin/env bash
set -x

{{ if and (or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux")) (not .codespaces) -}}

# https://asdf-vm.com/
git clone https://github.com/asdf-vm/asdf.git ~/.asdf

. "$HOME/.asdf/asdf.sh"

asdf plugin add nodejs https://github.com/asdf-vm/asdf-nodejs.git
asdf plugin add ruby https://github.com/asdf-vm/asdf-ruby.git
asdf plugin add go https://github.com/asdf-community/asdf-golang.git
asdf plugin add python https://github.com/asdf-community/asdf-python.git

asdf install nodejs latest
asdf global nodejs latest

asdf install ruby latest
asdf global ruby latest

asdf install go latest
asdf global go latest

asdf install python latest
asdf global python latest

{{ end -}}
