#!/usr/bin/env bash
set -x

{{ if and (or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux")) (not .codespaces) -}}

# https://sdkman.io/
curl -s "https://get.sdkman.io" | bash

source "$HOME/.sdkman/bin/sdkman-init.sh"

sdk install java
sdk install maven
sdk install gradle

{{ end -}}
