#!/usr/bin/env bash

{{ if (eq .chezmoi.os "darwin") -}}
# Installing brew https://brew.sh/
if ! command -v brew &> /dev/null; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

  # Installing package
  brew bundle
fi
{{ end -}}
