{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $codespaces:= env "CODESPACES" | not | not -}}

[data]
    osid = {{ $osID | quote }}
    codespaces = {{ $codespaces }}
